body {
    font-family: Arial;
    color: white;

    background:
        linear-gradient(
            rgba(0,0,0,0.8),
            rgba(0,0,0,0.8)
        ),
        url("img/fondo-rpg.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;

    padding-top: 30px;
    min-height: 100vh;
}

.contenedor {
    width: 400px;
    background: #2f2f2f;

    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.barra{
    background:#444;
    border-radius:20px;
    overflow:hidden;
}

#vida{
    background:linear-gradient(90deg,#ff0000,#00ff00);
    height:30px;
    width:100%;
    transition:0.3s;
}

#dado {
    display:flex;
    justify-content:center;
    gap:15px;
    margin:20px 0;
}

.dados button{
    background:none;
    border:none;
    cursor:pointer;
    transition:transform 0.2s;
}

.dados button:hover{
    transform:scale(1.15);
}

.dados img{
    width:70px;
    height:70px;
    display:block;
}

.dados span{
    display:block;
    color:white;
    margin-top:5px;
    font-weight:bold;
}

#resultadoDado{
    font-size:24px;
    font-weight:bold;
    color:#ffd700;
    text-align:center;
}
